
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JQuery Datatable :: Accessing Data in Tables</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/assets/custom.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">JQuery Datatable</a>

        </div>
    </nav>

    <div class="container-fluid breadcrumbBox text-center">
        <ol class="breadcrumb">
            <li class="active"><a href="#">Customers</a></li>
        </ol>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <a id="getCheckData" href="#" class="btn btn-primary">Get Check Row Data</a>
            </div>
        </div>

        <div class="row">


            <div class="col-md-12">

                <table id="customerTable" class="table table-bordred table-striped">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkall" /></th>
                            <th>Customer Code</th>
                            <th>Customer Name</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Payment Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>


            </div>
        </div>
    </div>


    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>

    $(function () {


        var table = $("#customerTable").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            //"dom": '<"top"i>rt<"bottom"lp><"clear">',
            "ajax": {
                "url": '@Url.Action("loadCustomers", "home")',
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": null,
                    render: function (data, type, row) {
                        if (type === 'display') {
                            return '<input type="checkbox" value="' + data.CUST_CODE + '">';
                        }
                        return data;
                    },
                },
                { "data": "CUST_CODE", "name": "CUST_CODE", "autoWidth": true },
                { "data": "CUST_NAME", "name": "CUST_NAME", "autoWidth": true },
                { "data": "CUST_CITY", "name": "CUST_CITY", "autoWidth": true },
                { "data": "CUST_COUNTRY", "name": "CUST_COUNTRY", "autoWidth": true },
                { "data": "PAYMENT_AMT", "name": "PAYMENT_AMT", "autoWidth": true },
                { "data": null, "name": "Action", "defaultContent": '<a href="#" class="editLink"><i class="glyphicon glyphicon-pencil"></i></a> | <a href="#" class="deleteLink"><i class="glyphicon glyphicon-trash"></i></a>', "autoWidth": true }

            ]

        });


        $(document).on("click", '.editLink', function (e) {
            e.preventDefault();
            var data = table.row($(this).parents('tr')).data();
            console.log(data);

        });

        $(document).on("click", '.deleteLink', function (e) {
            e.preventDefault();
            var data = table.row($(this).parents('tr')).data();
            console.log(data);

        });

        var custCodeArr = [];

        $("#getCheckData").click(function (e) {
            e.preventDefault();
            custCodeArr.length = 0;
            custCodeArr = [];
            var rows = $(table.$('input[type="checkbox"]').map(function () {
                return $(this).prop("checked") ? $(this).val() : 0;
            }));

            $.each(rows, function (i, v) {
                if (v != 0) {
                    custCodeArr.push(v);
                    }

            });

            console.log(custCodeArr);
        })




    });

    </script>

</body>
</html>
